#top {
    background: #091a48;
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 5px 0;
}

#top img {
    margin-left: 215px;
    width: 100px;
    height: 135px;
}
select{
    background: transparent;
    border-color: transparent;
    position: absolute;
    top: 69px;
    left: 315px;
    color: #fff;
}